#forum{
width:100%;
}

#forum table{
width:100%;
background-color:#CCCCCC;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:2px solid black;
padding:top;
}

.inside td{
padding:5px;
border:1px solid white;
}
.td_lien:hover{
cursor:pointer;
background-color:white;
}

.titre_tableau{
font-size:150%;
Font-weight:bold;
color:black;
text-align:center;
}



/*/////////////////////////////////////////////MESSAGES//////////////////////////////////////////////*/
.messages table{
text-align:left;
background-color:white;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:2px;
margin-bottom:5px;
margin-top:5px;
}

.messages td{
padding:5px;
vertical-align:top;
}

.messages tr{
height: 30px; 
}

.message_gauche{
text-align:center;
font-size:90%;
color:grey;
}
.message_gauche a{
font-size:130%;
color:black;
}

.message_gauche img{
margin-top:5px;
border:5px solid black ;
-moz-border-radius:10px;
-webkit-border-radius:10px;
width:100px;
height:100px;
}
.message_droit{
background:white;
-moz-border-radius:10px;
-webkit-border-radius:10px;
vertical-align:top;
}
.messages .titre{
text-align:center;
font-size:120%;
color:black;
vertical-align:top;
}

.signature{
border-top:1px solid grey;
vertical-align:bottom;
}
.page{
font-size:90%;
float:right;
margin: 2px;
margin-right:10%;
}
.new_sujet table{
background:white;
width:100%;
height:300px;
margin-bottom:5%;
text-align:center;
-moz-border-radius:10px;
-webkit-border-radius:10px;
vertical-align:middle;
}
.creer_gauche{
width:19%;
vertical-align:middle;
background:grey;
}
.creer_droit {

vertical-align:middle;
background:#C0C0C0;
}
.quote
{
padding:5px; 
border:1px solid #653533; 
margin: 5px 5px; 
overflow: auto;
background-color : #DCDCDC;
}
.spoiler
{
padding:5px;
border:2px solid #808080;
background-color: white;
margin: 5px 5px;
max-height:400px;
overflow: auto;
color: black;
}
.spoilertexte
{
font-weight:bold; font-size:10px;
}