body {
background-image:url('../images/background.png');
margin:auto;
font-family: Calibri, Arial, sans-serif;
font-size:16px;
width: 1024px;
}

textarea{resize:none;}
a{text-decoration:none;color:black;font-weight:bold;}
fieldset{-moz-border-radius: 8px;-webkit-border-radius: 8px;-khtml-border-radius: 8px;border-radius: 8px;}

#administration{
position:absolute;
top:-90px;
left:0px;
width:100%;
background-color:#E0E0E0;
opacity:0.5;
}

#administration img{
width:100px;
}

#menu{
text-align:center;
position:relative;
left:-20px;
list-style-type:none;
}
#menu li{
padding:10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}
#menu li:hover{
background-color:#fff;
}

#header{
background-image:url('../images/header.png');
margin:auto;
text-align:center;
position:relative;
left:0px;
top:0px;
height:200px;
margin-bottom:15px;
margin-top:20px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius: 15px;
border-radius: 15px;
}

#menu_gauche{
position:relative;
top:0px;
text-align:justify;
background-color:#e3e3e3;
width:184px;
padding:8px;
border-radius: 5px;
z-index:3;
}

#div_inscription{
display:none;
position:absolute;
top:0px;
text-align:center;
background-color:#e3e3e3;
width:200px;
height:0px;
z-index:1;
border-radius: 5px;
}

#div_inscription2{
position:absolute;
display:none;
top:0px;
text-align:center;
background-color:#e3e3e3;
width:200px;
height:0px;
z-index:2;
border-radius: 5px;
}

#corps{
background-color:#e3e3e3;
margin-left:15px;
border-radius: 5px;
width:784px;
padding:8px;
}

.titre{
font-size:130%;
font-weight : bold;
}
.gras{
font-weight : bold;
}
.race{
height:50px;
border:1px solid grey;
width:150px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
border-radius: 8px;
}
.race:hover{
background-color:#d2d2d2;
cursor:pointer;
}

.couleur{
margin-left:10px;
cursor:pointer;
border:solid 3px #e3e3e3;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

.image_classement{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

.classement{
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius: 15px;
border-radius: 15px;
width:100%;
margin:auto;
margin-top:20px;
text-align:center;
background-color:#cccccc;
}

.image_classement:hover{
background-color:#fff;
cursor:pointer;
}

.bordures{
margin:auto;
text-align:center;
}

#succes{
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius: 15px;
border-radius: 15px;
width:100%;
margin:auto;
text-align:center;
background-color:#ffffff;
}

.pseudo_liste:hover{
background-color:#E0E0E0;
}

#liste_pseudo{
background-color:white;
position:absolute;
top:0px;
left:0px;
border:1px solid black;
width:409px;
cursor:pointer;
}